/*Selector Universal*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilo de Textos Generales Desktop*/

@font-face {
    font-family: "roboto_bold";
    src: url("../fuente_roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "roboto_medium";
    src: url("../fuente_roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: "roboto_regular";
    src: url("../fuente_roboto/Roboto-Regular.ttf");
}

html {
    font-size: 16px;
}

h1 {
    font-family: "roboto_bold";
    font-size: 3rem;
}

h2 {
    font-family: "roboto_bold";
    font-size: 2.5rem;
}

h3 {
    font-family: "roboto_regular";
    font-size: 1.75rem;
}

h4 {
    font-family: "roboto_regular";
    font-size: 1.5rem;
}

h5 {
    font-family: "roboto_bold";
    font-size: 1.25rem;
}

p {
    font-family: "roboto_regular";
    font-size: 1rem;
}

/*Estilo de Textos Generales / Media Query Tablet*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    h1 {
        font-size: 2.375rem;
    }
    
    h2 {
        font-size: 1.8125rem;
    }
    
    h3 {
        font-size: 1.625rem;
    }
    
    h4 {
        font-size: 1.375rem;
    }
    
    h5 {
        font-size: 1.1875rem;
    }
    
    p {
        font-size: 0.9rem;
    }
    
}

/*Estilo de Textos Generales / Media Query Mobile*/

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.625rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    p {
        font-size: 0.875rem;
    }

}

/*Estilo de los botones*/

.boton-gris,
.boton-bco,
.boton-borde-gris {
    text-decoration: none;
    font-family: 'Roboto_Medium';
    font-size: 1.125rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
 }

.boton-gris {   
    background-color: #d9d9d9;
    color: black;
}

.boton-gris:hover {
    background-color: #a6a6a6;
}

.boton-bco {
    background-color: white;
    color: black;
}

.boton-bco:hover {
    background-color: #a6a6a6;
}

.boton-borde-gris {
    border: solid 0.125rem;
    cursor: pointer;
    background-color: white;
    border-color: #d9d9d9;
    color: black;
}

.boton-borde-gris:hover {
    background-color: #d9d9d9;
    border-color:#d9d9d9;
}

/*Estilo de los botones / Media Query Mobile*/

@media only screen and (max-width: 500px) {

    .boton-gris, .boton-bco, .boton-borde-gris {
    display: inline-block;
    font-size: 1rem;
    padding: 2% 4%;
    border-radius: 0.25rem;
    }
   
}

/*Estilo del Header*/

.header {
    width: 100%;
}

.header-container {
    background-color: #d9d9d9;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0.1rem 0.5rem 0px gray;
}

header nav ul {
    width: auto;
    list-style-type: none;
    display: flex;
    margin: 0;
    align-items: center;
}

header nav ul li {
    white-space: nowrap;
    margin-right: 1.625rem;
    display: flex;
    align-items: center;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #111111;
    font-family: "roboto_medium";
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li a:hover {
    color: #a6a6a6;
}

.active {
    font-family: "roboto_bold";
    font-size: 1.125rem;
}

.menu-toggle {
    display: none;
}

/*Estilo del Header / Media Querys Desktop*/

@media only screen and (min-width:961px) {

    .header-logo-mobile,
    .header-hamburguesa {
        display: none;
    }

}

/*Estilo del Header / Media Querys Tablet*/

@media only screen and (min-width:501px) and (max-width:960px) {

    .header-container {
        padding: 0 5%;
    }

    header nav ul li {
        margin-right: 0.9375rem;
    }

    header ul li a {
        font-size: 0.875rem;
    }

    .active {
        font-size: 1rem;
    }

    .header-logo,
    .header-hamburguesa {
        display: none;
    }

}

/*Estilo del Header / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .header-logo {
        display: none;
    }

    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: #d9d9d9;
        z-index: 15;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    header nav ul li {
        margin: 0;
        align-items: center;
        width: 100%;
        padding: 5% 0;
        border-bottom: 1.5px solid #ccc;
        display: flex;
        justify-content: center;
    }

    header nav ul li a {
          width: auto;
        text-align: center;
    }

    .menu-toggle:checked+label+nav {
        display: flex;
    }

    header nav ul li:last-child {
        border-bottom: none;
    }
}

/*Estilo del Index / Hero Section / Desktop*/

.herosection-container {
    width: 100%;
    height: 42.5rem;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.herosection {
    display: flex;
    width: 100%;
    height: 100%;
}

.hero-texto {
    width: 40%;
    margin-left: 10%;
    margin-top: 9rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
}

.hero-texto h1 {
    margin: 0 0 2.25rem 0;
}

.hero-texto p {
    line-height: 1.5;
}

.hero-botones {
    position: absolute; 
    bottom: 8%;
    left: 10%; 
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 3;
}

.hero-image {
    position: absolute;
    right: 0;
    top: 5rem;
    height: 37.5rem;
    z-index: -1;
}

.hero-image img {
    height: 100%;
    object-fit: cover;
}

/*Estilo del Index /Hero Section / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .herosection-container {
        height: auto; 
        padding-top:5rem ;
    }

    .herosection {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-image {
        order: -1;
        position: relative;
        width: 100%; 
        height: 28rem; 
        top: 0;
        display: flex;
        justify-content: end;
     }

    .hero-image img {
        width: auto;
        object-fit: cover;
    }

    .hero-texto {
        margin: 3rem 2rem 0 2rem;
        width:auto;
    }

    .hero-texto h1 {
        text-align: center
    }

    .hero-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 2.25rem 0; 
    }

    .hero-botones a {
        margin:0;
        white-space: nowrap;
        display: inline;   
        margin-bottom: 20%;
    }
   
    .hero-botones{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15%;
        position: relative;
        top: 0;
        left:0;
    }

}

/*Estilo del Index / Hero Section / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .herosection-container {
        height: auto; 
        padding-top:5rem ;
    }

    .herosection {
        flex-direction: column; 
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .hero-image {
        order: -1;
        position: relative;
        width: 100%; 
        height: 18.75rem; 
        top: 0;
        margin-bottom: 4rem; 
    }

    .hero-image img {
        width: 100%;
        height: 22.5rem;
        object-fit: cover;
    }

    .hero-texto {
        padding: 0 1.5rem;
        width: auto; 
        margin: 2rem 0 0 0; 
    }

    .hero-texto h1 {
        text-align: center;
        margin-bottom: 1,5rem;
    }

    .hero-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 2rem 0; 
    }

    .hero-botones a {
        margin:0;
        white-space: nowrap;
        display: inline;
    }
   
    .hero-botones{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        position: relative;
        left:0;
        margin-bottom: 15%;
    }

}

/*Estilo del Index / Hero Section / Media Querys Mobile - 350px*/

@media only screen and (max-width: 350px) {

    .hero-botones {
        flex-direction: column;
        gap: 1rem; 
    }

    .hero-botones a {
        white-space: normal; 
        text-align: center; 
        padding: 0.25rem 0.5rem;
        width: auto;
        margin: 0;
    }
}

/*Estilo del Index /Acerca de Mi / Desktop*/

.acerca-mi-container {
    width: 100%;
    height: 37.5rem;
    background-color: #d9d9d9;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.acerca-mi {
    display: flex;
    width: 100%;
    height: 100%;
}

.acerca-texto {
    width: 35%;
    margin-left: 55%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.acerca-texto h2 {
    margin: 0;
    margin-bottom: 2.05rem;
}

.acerca-texto p {
    margin: 0 0 1rem 0;
    line-height: 1.5;
}

.acerca-texto a {
    margin-top: 15%;
 }

.acerca-image {
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.acerca-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.image-overlay-izq {
    position: absolute;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(217, 217, 217, 1) 0%, rgba(217, 217, 217, 0) 50%);
    z-index: 2;
}

.boton-container {
    position: absolute; 
    bottom: 10%;
    right: 0; 
    width: auto; 
    text-align: right; 
}

/*Estilo del Index / Acerca de Mi / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .acerca-mi-container {
        height: auto; 
    }

    .acerca-mi {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .acerca-image {
        order: -1;
        position: relative;
        width: 100%; 
        height: 28rem; 
        top: 0;
        display: flex;
        justify-content: end;
     }

    .acerca-image img {
        width: auto;
        object-fit: cover;
    }

    .acerca-texto {
        margin: 3rem 2rem 0 2rem;
        width:auto;
    }

    .acerca-texto h2 {
        text-align: center
    }

    .acerca-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 1.5rem 0; 
    }
    .acerca-texto p:last-of-type {
        margin-bottom: 0;
    }
       
    .acerca-texto a {
        margin:5% 0 8% 0;
        white-space: nowrap;
    }
   
    .boton-container{
        display: flex;
        justify-content: center;
        position: relative;
     }

}

/*Estilo del Index / Acerca de Mi / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .acerca-mi-container {
        height: auto; 
    }

    .acerca-mi {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .acerca-image {
        order: -1;
        position: relative;
        width: 100%; 
        height: 28rem; 
        top: 0;
        display: flex;
        justify-content: end;
     }

    .acerca-image img {
        width: auto;
        object-fit: cover;
    }

    .acerca-texto {
        margin: 3rem 1rem 0 2rem;
        width:auto;
    }

    .acerca-texto h2 {
        text-align: center
    }

    .acerca-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 1.5rem 0; 
    }
           
    .acerca-texto a {
        margin:5% 0;
        white-space: nowrap;
    }
   
    .boton-container{
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 15%;
    }

}

/* Estilo del Index / Sección Servicios / Desktop*/

.servicios-container {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    text-align: center;
    height: auto;
}

.servicios {
    margin-top: 5.25rem;
}

.servicios p {
    width: 100%;
    margin: 2rem 0 3.5rem 0;
    line-height: 1.5;
}

.tarjetaservicios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    max-width: calc(3 * 25rem + 2 * 5rem);
    box-sizing: border-box;
    row-gap: 3rem;
    column-gap: 5rem;
    justify-items: center;
}

.tarjetas {
    background-color: #d9d9d9;
    border-radius: 1.2rem;
    padding: 2.25rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.icono-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.icono-servicios img {
    margin-right: 1.15rem;
}

.tarjetas h3 {
    margin: 0;
    text-align: center;
}

.tarjetas p {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    margin: 0 0 2rem 0;
}

.boton-mas-info {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 5rem 0;
}

/*Estilo del Index / Servicios / Media Querys Tablet*/

@media only screen and (min-width: 501px) and (max-width: 960px) {
  
    .servicios-container {
       padding: 0 5%;
    }

    .servicios {
        margin: 4rem 0 0 0;
    }

    .boton-mas-info {
        margin: 5rem 0;
    }
}

/*Estilo del Index / Servicios / Media Querys Mobile*/

@media only screen and (max-width: 501px) {
  
    .servicios-container {
       padding: 0 5%;
    }

    .servicios {
        margin: 4rem 0 0 0;
    }

    .tarjetaservicios {
        grid-template-columns: 1fr; 
        row-gap: 2rem;
        column-gap: 0;
    }

    .tarjetas {
        padding: 1.5rem;
        width: 100%;
    }

    .icono-titulo {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .icono-servicios img {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .tarjetas p{
      width: auto;
    }

    .boton-mas-info {
        margin: 5rem 0;
    }
}

/* Estilo del Index / Sección Trabajos Recientes / Desktop*/

.trabajos-recientes-container {
    width: 100%;
    height: auto;
    background-color: #d9d9d9;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

.trabajos-recientes-texto {
    padding: 0 10%;
    position: relative;
    margin-top: 5.25rem;
}

.trabajos-recientes-texto h2 {
margin-top: 5rem;
}
    
.trabajos-recientes-texto p {
    width: 100%;
    margin: 2rem 0 3.5rem 0;
    line-height: 1.5;
}

.carousel-inner {
    padding: 0 10%;
}

.card {
    background-color: #d9d9d9;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    border: none;
}

.ver-portfolio-completo {
    margin: 3.5rem 0;
}

/*Estilo del Index / Contacto / Desktop*/


.contacto-container {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    background-color: white;
}

.contacto {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contacto-texto {
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    ;
}

.contacto-texto h2 {
    margin: 0 0 2rem 0;
}

.contacto-texto p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

.contacto-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacto-item {
    display: flex;
    align-items: center;
}

.contacto-item i {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-item p {
    color: black;
    line-height: 1.125rem;
    margin: 0;
}

.boton-contactame {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 8.75rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    z-index: 3;
}

.contacto-image {
    order: -1;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.contacto-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
}

.image-overlay-der {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(217, 217, 217, 0) 25%);
    z-index: 1;
}

/*Estilo del Index / Contacto / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .contacto-container {
        height: auto;
        width: 100%;
    }

    .contacto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contacto-image {
        order: -1;
        position: relative;
        width: 100%;
        height: 28rem;
        top: 0;
        display: flex;
        justify-content: end;
    }

    .contacto-image img {
        width: auto;
        object-fit: cover;
    }

    .contacto-texto {
        margin: 3rem 2rem 0 2rem;
        width: auto;
    }

    .contacto-texto h2 {
        text-align: center
    }

    .contacto-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 1.5rem 0;
    }


    .contacto-info {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contacto-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contacto-item p {
        margin: 0;
    }

    .boton-contactame a {
        margin: 0;
        white-space: nowrap;
        display: inline;
        margin-bottom: 20%;
    }

    .boton-contactame {
        margin: 2rem auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*Estilo del Index / Contacto / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .contacto-container {
        height: auto;
    }

    .contacto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contacto-image {
        order: -1;
        position: relative;
        width: 100%;
        height: 28rem;
        top: 0;
        display: flex;
        justify-content: end;
    }

    .contacto-image img {
        width: auto;
        object-fit: cover;
    }

    .contacto-texto {
        margin: 3rem 1rem;
        width: auto;
    }

    .contacto h2 {
        text-align: center
    }

    .contacto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 1.5rem 0;
    }

    .contacto-info {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contacto-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contacto-item p {
        margin: 0;
    }

    .contacto-item i {
        margin-right: 0.5rem;
    }

    .boton-contactame a {
        margin: 5% 0;
        white-space: nowrap;
    }

    .boton-contactame {
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 15%;
    }

    .image-overlay-der {
        background: none;
    }
}


/* Estilo del Footer / Desktop */

footer {
    width: auto;
    height: auto;
    background-color: #d9d9d9;
    box-sizing: border-box;
    padding: 3% 10%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.footer- {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo-mobile {
    display: none
}

.footer- p {
    margin: 0;
}

hr {
    width: 100%;
    height: 0.12rem;
    background-color: white;
    border: none;
    margin: 0 auto;
}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.columna-navegacion,
.columna-seguime,
.columna-contacto {
    display: flex;
    flex-direction: column;
    width: auto;
}

.columna-navegacion {
    margin-bottom: 3rem;
}

.columna-navegacion h5,
.columna-seguime h5,
.columna-contacto h5 {
    margin: 0 0 2rem 0;
}

.columna-navegacion ul,
.columna-seguime ul,
.columna-contacto ul {
    font-family: "roboto_regular";
    font-size: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.columna-navegacion .active {
    color: black;
}

.columna-navegacion ul li a:hover {
    color: #a6a6a6;
}

.columna-navegacion ul li,
.columna-seguime ul li,
.columna-contacto ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1.6rem;
}

.columna-navegacion ul li a,
.columna-seguime ul li a,
.columna-contacto ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.columna-navegacion ul li img,
.columna-seguime ul li img,
.columna-contacto ul li img {
    height: auto;
    width: auto;
    max-width: 1.125rem;
    max-height: 1.125rem;
}

.columna-navegacion ul li a,
.columna-seguime ul li a,
.columna-contacto ul li span {
    text-decoration: none;
    color: black;
}

.columna-seguime ul li span,
.columna-contacto ul li span {
    margin-left: 0.5rem;
}

.footer-terminos {
    width: 100%;
    height: 5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

.footer-terminos .terminos {
    margin: 0;
}

/*Estilo del Index / Footer / Media Querys Tableta*/

@media only screen and (min-width: 600px) and (max-width: 960px) {

    footer {
        padding: 3% 5%;
        ;
    }

    .footer- {
        margin-bottom: 1.5rem;
    }

    .footer-logo {
        display: none;
    }

    .footer-logo-mobile {
        display: block
    }

    .footer- p,
    .footer-terminos p {
        font-size: 0.8rem;
    }

    .columna-navegacion,
    .columna-seguime,
    .columna-contacto {
        margin-left: 1rem;
    }

    .columna-navegacion ul,
    .columna-seguime ul,
    .columna-contacto ul {
        font-size: 0.8rem;
    }

    .columna-navegacion ul .active {
        font-size: 0.8rem;
    }

    .columna-navegacion h5,
    .columna-seguime h5,
    .columna-contacto h5 {
        font-size: 1rem;
    }

    .columna-navegacion ul li img,
    .columna-seguime ul li img,
    .columna-contacto ul li img {
        max-width: 0.9rem;
        max-height: 0.9rem;
    }

    .columna-navegacion ul li a,
    .columna-seguime ul li span,
    .columna-contacto ul li i {
        margin-right: 1rem;
    }


    .columna-seguime ul li a,
    .columna-contacto ul li span {
        margin-left: 0.2rem;
    }

    .footer-terminos {
        height: 4rem;
    }
}

/*Estilo del Index / Footer / Media Querys Mobile*/

@media only screen and (max-width: 600px) {

    .footer-logo {
        display: none;
    }

    .footer-logo-mobile {
        display: block
    }

    .footer-logo-mobile img {
        max-width: 2.5rem;
        max-height: 2.5rem;
    }

    .footer-contenido {
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    footer {
        padding: 0;
        ;
    }

    .footer- {
        margin-bottom: 1.5rem;
        padding: 3% 10%;
    }

    .footer- p,
    .footer-terminos p {
        font-size: 0.8rem;
    }

    .footer- p {
        max-width: 70%;
    }

    .columna-navegacion {
        order: 1; 
    }

    .columna-navegacion ul {
        text-align: center; 
    }

    .columna-navegacion ul li {
        justify-content: center; 
        text-align: center;
    }

    .columna-navegacion ul li a {
        justify-content: center; 
        text-align: center;
    }

    .columna-contacto {
        order: 2; 
        align-items: center;
        text-align: center;
    }

    .columna-contacto ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .columna-seguime {
        order: 3; 
        z-index: 1;
    }

    .columna-seguime ul {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        padding: 0;
        margin: 0;
    }

    .columna-seguime ul li {
        margin: 0 0.5rem; 
    }

    .columna-seguime ul li a {
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .columna-seguime ul li span {
        display: none; 
    }

    .columna-navegacion,
    .columna-seguime,
    .columna-contacto {
        align-items: center;
    }

    .columna-navegacion,
    .columna-contacto {
        margin:0 0 1.5rem 0;
    }

    .columna-navegacion ul,
    .columna-seguime ul,
    .columna-contacto ul {
        font-size: 0.8rem;
    }

    .columna-navegacion h5,
    .columna-seguime h5,
    .columna-contacto h5 {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .columna-navegacion ul li,
    .columna-contacto ul li {
        margin-bottom: 0.75rem; 
    }

    .columna-navegacion ul li img,
    .columna-seguime ul li img,
    .columna-contacto ul li img {
        max-width: 0.9rem;
        max-height: 0.9rem;
    }

    .columna-navegacion ul li a,
    .columna-seguime ul li span,
    .columna-contacto ul li i {
        margin-right: 0;
    }

    .columna-seguime ul li a,
    .columna-contacto ul li span {
        margin-left: 0.2rem;
    }

    .columna-navegacion ul .active {
        font-size: 0.9rem;
    }
    .footer-terminos {
        width: 100%;
        padding-right: 0;
        align-items: center;
        text-align: center;
        height: 4rem;
        margin-top: 3rem;
        position: relative;
        justify-content: center;
    }
}

/*Estilo del Index / Footer / Media Querys Mobile*/

@media only screen and (max-width: 300px) {

.footer- p,
    .footer-terminos p {
        font-size: 0.65rem;
        max-width: 70%;
    }

    
    .footer- {
        margin-bottom: 0.75rem;
    }

    .columna-navegacion ul li,
    .columna-contacto ul li {
        margin-bottom: 0; 
    }
}


/*Estilo de Sobre Mi / Hero Section / Desktop*/


.herosection-2-container {
    width: 100%;
    height: 42.5rem;
    top: 0;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}

.hero2container {
    height: 42.5rem;
    position: relative;
    display: flex;
    flex-direction: column; 
}

.hero-texto2 {
    width: 40%;
    margin-left: 10%;
    margin-top: 9rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-texto2 h1 {
    margin: 0 0 2rem 0;
}

.hero-texto2 p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.boton-hero-2 {
    position: relative; 
    left: 10%; 
    right: 0;
    display: flex;
    align-items: center;
    z-index: 3;
}

.hero-image-2 {
    order: -1;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 42.5rem;
    overflow: hidden;
    z-index: 1;
}

.hero-image-2 img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
   top: 0;
}

.image-overlay-der-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(217, 217, 217, 0) 50%);
    z-index: 1;
}

/*Estilo de Sobre Mi / Hero Section / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .herosection-2-container {
        height: auto;
        width: 100%;
    }

    .hero2container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-image-2 {
        order: -1;
        position: relative;
        width: 100%;
        height: 33rem;
        top: 0;
        display: flex;
        justify-content: end;
    }

    .hero-image-2 img {
        width: auto;
        object-fit: cover;
    }

    .hero-texto2 {
        margin: 2rem 2rem 0 2rem;
        width: auto;
    }

    .hero-texto2 h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-texto2 p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 1rem 0;
    }

    .boton-hero-2 a {
        white-space: nowrap;
        display: inline;
        margin-bottom: 20%;
    }

    .boton-hero-2 {
        left: 0;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*Estilo de Sobre Mi / Hero Section / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .herosection-2-container {
        height: auto;
    }

    .hero2container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-image-2 {
        order: -1;
        position: relative;
        width: 100%;
        height: 28rem;
        top: 0;
        display: flex;
        justify-content: end;
    }

    .hero-image-2 img {
        width: auto;
        object-fit: cover;
    }

    .hero-texto2 {
        padding: 0 5%;
        margin: 2rem 0;
        width: auto;
    }

    .hero-texto2 h1 {
        text-align: center
    }

    .hero-texto2 p {
        text-align: center;
        line-height: 1.5;
        margin: 0;
    }

    .boton-hero-2 a {
        white-space: nowrap;
    }

    .boton-hero-2 {
        left: 0;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 10%;
    }

    .image-overlay-der-2 {
        background: none;
    }
}

/*Estilo de Sobre Mi / Mi camino en el diseño / Desktop*/

.mi-camino-container {
    width: 100%;
    height: auto;
    background-color: #d9d9d9;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.mi-camino {
    display: flex;
    width: 100%;
    height: 100%;
}

.mi-camino-texto {
    width: 35%;
    margin-left: 55%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mi-camino-texto h2 {
    margin: 0;
    margin-bottom: 2.05rem;
}

.mi-camino-texto p {
    margin: 0 0 2rem 0;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.mi-camino-image {
    order: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.mi-camino-image img {
    object-position: left;
    width: auto;
    height: 100%;
    object-fit: cover;
}

.image-overlay-izq-2 {
    position: absolute;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(217, 217, 217, 1) 0%, rgba(217, 217, 217, 0) 50%);
    z-index: 2;
}

/*Estilo de Sobre Mi / Mi camino en el diseño / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .mi-camino-container {
        height: auto; 
    }

    .mi-camino {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mi-camino-image {
        order: -1;
        position: relative;
        width: 100%; 
        height: 28rem; 
        left: 0;
        top: 0;
        display: flex;
        justify-content: end;
     }

    .mi-camino-image img {
        object-position: left;
        right: 0;
        width: 100%;
        object-fit: cover;
    }

    .mi-camino-texto {
        margin: 3rem 2rem 0 2rem;
        width:auto;
        padding-bottom: 3rem;
    }

    .mi-camino-texto h2 {
        text-align: center
    }

    .mi-camino-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 1.5rem 0; 
    }
    .mi-camino-texto p:last-of-type {
        margin-bottom: 0;
    }
       
}

/*Estilo de Sobre Mi / Mi camino en el diseño / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .mi-camino-container {
        height: auto; 
    }

    .mi-camino {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .mi-camino-image {
        order: -1;
        position: relative;
        width: 100%; 
        height: 28rem; 
        top: 0;
        display: flex;
        justify-content: end;
     }

     .mi-camino-image img {
        object-position: left;
        right: 0;
        width: 100%;
        object-fit: cover;
    }

    .mi-camino-texto {
        width: 100%;
        margin: 3rem 1rem 0 2rem;
        width:auto;
    }

    .mi-camino-texto h2 {
        text-align: center
    }

    .mi-camino-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 2rem 0; 
    }

    .image-overlay-izq-2 {
        display: none;
    }
}

/*Estilo de Sobre Mi / Educación / Desktop*/

.educacion-container {
    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.educacion {
    display: flex;
    width: 100%;
    height: 100%;
}

.educacion-texto {
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.educacion-texto h2 {
    margin: 0;
    margin-bottom: 2.0rem;
}

.educacion-texto p {
    margin: 0 0 1rem 0;
    line-height: 1.5;
}

.educacion-image {
    order: -1;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.educacion-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    z-index: 2;
}

.instituciones {
    font-family: "roboto_regular";
    font-size: 0.9rem;
    color: black;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.instituciones ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 0;
    margin: 3rem 0;
    list-style: none;
}

.instituciones ol li {
    position: relative;
    padding-left: 2.75rem;
    margin-bottom: 1.4rem;
    display: flex;
    align-items: center;
}

.instituciones ol li::before {
    margin-right: 0.5rem;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.6rem;
    height: 0.6rem;
    background-color: black;
    border-radius: 50%;
}

.image-overlay-der-3 {
    position: absolute;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(217, 217, 217, 0) 100%);
    z-index: 3;
}

/*Estilo de Sobre Mi / Educación / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .educacion-container {
        height: auto; 
        width: 100%;
    }

    .educacion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .educacion-image {
        order: 1;
        position: relative;
        width: 100%; 
        height: 28rem; 
        top: 0;
        display: flex;
        justify-content: center;
     }

    .educacion-image img {
        width: auto;
        object-fit: cover;
    }

    .educacion-texto {
        order: 2;
        margin: 3rem 2rem 0 2rem;
        width:auto;
    }

    .educacion-texto h2 {
        text-align: center
    }

    .educacion-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 3rem 0; 
    }
    .educacion-texto p:last-of-type {
        margin-bottom: 0;
    }

    .instituciones ol {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 3rem 0;
        list-style: none;
    }

    .instituciones ol li {
        position: relative;
        padding-left: 1rem;
    }

    .instituciones ol li::before {
        margin-right: 0.5rem;
        width: 0.3rem;
        height: 0.3rem;
    }
       
}

/*Estilo de Sobre Mi / Educación / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .educacion-container {
        height: auto; 
    }

    .educacion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .educacion-image {
        order: 1;
        position: relative;
        width: 100%; 
        height: 28rem; 
        top: 0;
        display: flex;
        justify-content: end;
     }

    .educacion-image img {
        width: auto;
        object-fit: cover;
    }

    .educacion-texto {
        order: 2;
        margin: 3rem 1rem 0 2rem;
        width:auto;
    }

    .educacion-texto h2 {
        text-align: center
    }

    .educacion-texto p {
        text-align: center;
        line-height: 1.5;
        margin: 0; 
    }

    .instituciones ol li::before {
        margin-right: 0.5rem;
        width: 0.3rem;
        height: 0.3rem;
    }

    .image-overlay-der-3 {
        display: none;
    }

}






/* Estilo de Mis Servicios / Hero Section */

.herosection-3-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero3container {
    width: 1440px;
    height: 600px;
    background: url('../imagenes/servicios.jpg') no-repeat center center;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Estilo de Mis Servicios / Diseño Industrial */

.diseño-ind-container {
    width: 100%;
    height: 600px;
    background: url('../imagenes/diseño_industrial.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.diseño-ind {
    width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
}

.diseño-ind-texto {
    width: 525px;
    margin-right: 180px;
    color: black;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
}

.diseño-ind-texto h2 {
    margin: 0;
    margin-bottom: 33px;
}

.diseño-ind-texto p {
    margin: 0 0 5px 0;
    width: 525px;
    line-height: 1.5;
}

.boton-ver-trabajos-der {
    display: inline-block;
    width: 139px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: white;
    color: #000;
    font-family: 'roboto_medium';
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
    right: 0;
    margin-top: 400px;
    margin-right: 15px;
}

/* Estilo de Mis Servicios / Diseño Gráfico */

.diseño-graf-container {
    width: 100%;
    height: 600px;
    background: url('../imagenes/diseño_gráfico.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.diseño-graf {
    width: 1440px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.diseño-graf-texto {
    width: 525px;
    margin-left: 180px;
    color: black;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
}

.diseño-graf-texto h2 {
    margin: 0;
    margin-bottom: 33px;
}

.diseño-graf-texto p {
    margin: 0 0 5px 0;
    width: 525px;
    line-height: 1.5;
}

.boton-ver-trabajos-izq {
    display: inline-block;
    width: 139px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #d9d9d9;
    color: #000;
    font-family: 'roboto_medium';
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    position: absolute;
    left: 0;
    margin-top: 400px;
}

/* Estilo de Mis Servicios / Diseño Ux-Ui */

.diseño-ux-container {
    width: 100%;
    height: 600px;
    background: url('../imagenes/diseño_ux.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Estilo de Mis Servicios / Desarrollo Web */

.desarrollo-container {
    width: 100%;
    height: 600px;
    background: url('../imagenes/desarrollo_web.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Estilo de Mis Servicios / Ilustración */

.ilustracion-container {
    width: 100%;
    height: 600px;
    background: url('../imagenes/ilustracion.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Estilo de Mis Servicios / Modelado 3D */

.modelado-container {
    width: 100%;
    height: 600px;
    background: url('../imagenes/modelado.jpg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* Estilo de Portfolio / Hero Section */

.herosection-4-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero4container {
    width: 1440px;
    height: 600px;
    background: url('../imagenes/portolio.jpg') no-repeat center center;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Estilo de Portfolio / Trabajos */

.portfolio-trabajos {
    width: 100%;
    max-width: 1440px;
    height: 2800px;
    margin: 0 auto;
    padding: 0 180px;
    box-sizing: border-box;
}

.filtros-portfolio {
    width: 1080px;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 8px;
    margin: 78px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtros-portfolio h4 {
    margin: 0;
    color: black;
    text-align: center;
}

.tarjetas-portfolio {
    margin-top: 78px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px 30px;
    justify-content: center;
}

.tarjeta {
    width: 340px;
    height: 606px;
    border-radius: 18px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tarjeta img {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.tarjeta h3 {
    margin: 38px 0 0;
}

.tarjeta p {
    width: 280px;
    height: 96px;
    margin: 30px 0 0;
    line-height: 1.5;
}

.tarjeta button {
    margin-top: auto;
    padding: 10px 0;
    width: 117px;
    height: 44px;
    font-family: "roboto_medium";
    font-size: 18px;
    color: black;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}


/*Estilo de Contacto / Hero Section / Desktop*/


.herosection-5-container {
    width: 100%;
    height: 42.5rem;
    top: 0;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}

.hero5container {
    height: 42.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero-texto-5 {
    width: 40%;
    margin-left: 10%;
    margin-top: 9rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-texto-5 h1 {
    margin: 0 0 2rem 0;
}

.hero-texto-5 p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.hero-image-5 {
    order: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 42.5rem;
    overflow: hidden;
    z-index: 1;
}

.hero-image-5 img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
}

.image-overlay-der-hero5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(217, 217, 217, 0) 50%);
    z-index: 2;
}

/*Estilo de Contacto / Hero Section / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .herosection-5-container {
        height: auto;
        width: 100%;
    }

    .hero5container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-image-5 {
        order: -1;
        position: relative;
        width: 100%;
        height: 33rem;
        top: 0;
        display: flex;
        justify-content: end;
    }

    .hero-image-5 img {
        width: auto;
        object-fit: cover;
    }

    .hero-texto-5 {
        margin: 2rem 2rem 0 2rem;
        width: auto;
    }

    .hero-texto-5 h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .hero-texto-5 p {
        text-align: center;
        line-height: 1.5;
        margin: 0 0 1rem 0;
    }

}

/*Estilo de Contacto / Hero Section / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .herosection-5-container {
        height: auto;
    }

    .hero5container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-image-5 {
        order: -1;
        position: relative;
        width: 100%;
        height: 28rem;
        top: 0;
        display: flex;
        justify-content: end;
    }

    .hero-image-5 img {
        width: auto;
        object-fit: cover;
    }

    .hero-texto-5 {
        padding: 0 5%;
        margin: 2rem 0;
        width: auto;
    }

    .hero-texto-5 h1 {
        text-align: center
    }

    .hero-texto-5 p {
        text-align: center;
        line-height: 1.5;
        margin: 0;
    }

    .image-overlay-der-hero5 {
        background: none;
    }
}

/*Estilo de Contacto / Formulario / Desktop*/


.formulario-container {
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    background-image: url('../imagenes/formulario.jpg');
    background-size: cover;
    background-position: center;
}

.formulario {
    position: relative;
    display: flex;
    flex-direction: row;
}

.formulario-texto {
    width: 35%;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formulario-texto h2 {
    margin: 0 0 2rem 0;
}

.formulario-texto p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

.contacto-info-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacto-item-2 {
    display: flex;
    align-items: center;
}

.contacto-item-2 i {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-item-2 p {
    color: black;
    line-height: 1.125rem;
    margin: 0;
}

.Formulario-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-top: 5%;
}

.formulario {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10%;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.campos {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: calc(50% - 1rem);
}

.campos label {
    font-family: "roboto_medium";
    font-size: 1.125rem;
    color: black;
    margin-bottom: 1.125rem;
}

.campos input,
.campos textarea {
    width: 100%;
    height: 2.75rem;
    border-radius: 0.5rem;
    border: 1px solid #D9D9D9;
    padding: 0 1rem;
    font-family: "roboto_medium";
    font-size: 1.125rem;
    color: black;
    background-color: white;
}

.campos input::placeholder,
.campos textarea::placeholder {
    color: #D9D9D9;
}

.campos.textarea-mensaje {
    width: 100%;
    max-width: none;
}

.campos textarea {
    width: 100%;
    height: 12.5rem;
    padding-top: 0.75rem;
    margin-bottom: 1.875rem;
}

button[type="submit"] {
    font-family: 'roboto_medium';
    font-size: 1.125rem;
    padding: 0.625rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    color: black;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    margin: 1rem 0;
    align-self: flex-end;
    position: relative;
    margin-left: auto;
}

.boton-formulario {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/*Estilo de Contacto / Formulario / Media Querys Tableta*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .formulario-container {
        height: auto;
        width: 100%;
        padding: 0 5%;
    }

    .formulario {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .formulario-texto {
        margin: 0;
        padding: 7% 0 0 0;
        width: auto;
    }

    .formulario-texto h2 {
        text-align: center
    }

    .formulario-texto p {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .contacto-info-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 1rem 0;
    }

    .contacto-item-2 p {
        margin: 0;
    }

    .formulario {
        padding-right: 0;
    }

    .Formulario-form {
        width: 100%;
    }

}

/*Estilo de Contacto / Formulario / Media Querys Mobile*/

@media only screen and (max-width:500px) {

    .formulario-container {
        height: auto;
        width: 100%;
        padding: 0 5%;
    }

    .formulario {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-right: 0;
    }

    .formulario-texto {
        margin: 0;
        padding: 7% 0 0 0;
        width: auto;
    }

    .formulario-texto h2 {
        text-align: center;
    }

    .formulario-texto p {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .contacto-info-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 1rem 0;
    }

    .contacto-item-2 p {
        margin: 0;
    }

    .Formulario-form {
        width: 100%;
    }

    .form-row {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }

    .campos {
        width: 100%;
        margin-bottom: 1rem;
    }

    .campos input,
    .campos textarea {
        width: 100%;
    }

    .campos.textarea-mensaje {
        width: 100%;
    }

    button[type="submit"] {
        margin: 1rem 0;
        align-self: center;
    }

    .campos label {
        font-size: 0.9rem;
    }

    .boton-formulario {
        justify-content: center;
        width: 100%;
    }

    .campos input,
    .campos textarea {
        font-size: 0.9rem;
    }

    button[type="submit"] {
        font-size: 0.9rem;
    }
}

/*Estilo de Contacto / Preguntas Frecuentes / Desktop*/

.preguntas-container {
    width: 100%;
    height: auto;
    padding: 0 10%;
    box-sizing: border-box;
    text-align: center;
    height: auto;
}

.preguntas-texto {
    margin-top: 5.25rem;
}

.preguntas-texto p {
    width: 100%;
    margin: 2rem 0 3.5rem 0;
    line-height: 1.5;
}

.preguntas-lista {
    width: 100%;
    margin-bottom: 4rem;
}

.accordion-item {
    margin-bottom: 2.5rem;
}

.accordion-button {
    background-color: #d9d9d9;
    border: 1px solid #ddd;
    border-radius: 0.5rem !important;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #a6a6a6;
    box-shadow: none;
}

.accordion-body {
    background-color: #fff;
    border: 2px solid #ddd;
    /* Borde del cuerpo */
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem !important;
    margin-bottom: -8px;
}

/*Estilo de Contacto / Preguntas Frecuentes / Media Querys Tablet*/

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .preguntas-container {
        padding: 0 5%;
    }

    .preguntas-texto {
        margin: 4rem 0 0 0;
    }

    .accordion-item {
        margin-bottom: 2rem;
    }

    .accordion-header h2 {
        font-size: 1rem;
    }

    .accordion-body {
        font-size: 0.875rem; 
    }
}

/*Estilo de Contacto / Preguntas Frecuentes / Media Querys Mobile*/

@media only screen and (max-width: 501px) {

    .preguntas-container {
        padding: 0 5%;
    }

    .preguntas-texto p {
        margin-bottom: 2rem;
    }
        
    .preguntas-texto {
        margin: 4rem 0 0 0;
    }

    .accordion-item {
        margin-bottom: 1.5rem;
    }

    .accordion-header h2 {
        font-size: 0.75rem;
    }
}
