// Estilo del Index / Sección Servicios / Desktop

.servicios-container {
    @include dimension (100%, auto);
    @include box-sizing;
    padding: 0 10%;
    text-align: $cen;
    .servicios {
        margin-top: 5.25rem;

        p {
            width: 100%;
            margin: 2rem 0 3.5rem 0;
            line-height: 1.5;
        }

        .tarjetaservicios {
            @include box-sizing;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
            row-gap: 3rem;
            column-gap: 5rem;
            justify-items: $cen;
        }

        .boton-mas-info {
            display: inline-block;
            text-align: $cen;
            position: $rel;
            margin: 5rem 0;
        }
    }
}

//Media Querys Tablet

@media only screen and (min-width: 501px) and (max-width: 960px) {

    .servicios-container {
        padding: 0 5%;

        .servicios {
            margin: 4rem 0 0 0;
        }
    }

    .boton-mas-info {
        margin: 5rem 0;
    }
}

// Media Querys Mobile

@media only screen and (max-width: 501px) {

    .servicios-container {
        padding: 0 5%;

        .servicios {
            margin: 4rem 0 0 0;

            .tarjetaservicios {
                grid-template-columns: 1fr;
                row-gap: 2rem;
                column-gap: 0;
            }

            .boton-mas-info {
                margin: 5rem 0;
            }
        }
    }
}