// Colores

$color-gris: #d9d9d9;
$color-gris-oscuro: #a6a6a6;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-gris-muy-oscuro: #4b4b4d;


// Position

$abs: absolute;
$rel: relative;
$cen: center;

// Cursor

$poi: pointer;